/* Estilos para la sección de Productos Destacados */
.featuredContainer {
    margin: 0 auto;
    width: 100%;
    padding: 2rem 1rem;
    background: rgba(0, 0, 0, 0.05); /* Color gris muy claro con opacidad */
    border-radius: 10px;
  }

.featuredSection {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .container {
    width: 100%;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  
  .swiper {
    width: 100%;
    height: auto;
  }